@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -56px;
  box-sizing: initial;
  padding: 50px 0px;
}

/* .slick-dots > ul > li > button {
  text-color: yellow;
} */

.my-slick-dots {
  color: yellow !important;
}

.slick-arrow {
  font-size: 28px;
}

.slick-next {
  right: 0 !important;
}

.slick-prev {
  z-index: 999 !important;
}
